:root{
    --dark-gray: #1F2937;
    --light-gray: #E5E7EB;
    --emerald-green: #10B981;
    --amber: #F59E0B;
    --blue-gray: #4B5563;
    --white: #FFFFFF;
    --red: #EF4444;
    --teal: #21A691;
    --light-green: #87DF2C;
    --dark-green: #27403E;
    --metallic-gray: #B4B4B2;
}
