@import '../colors.css';

.navbar {
    height: 100%;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blue-gray);
    padding-top: 200px;
}

.nav-link, .nav-link:visited {
    padding: 10px 17px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    display: block;
    margin-bottom: 8px;
}

.nav-link:hover {
    background-color: var(--dark-gray);
    color: var(--white);
}

.active {
    background-color: var(--dark-gray);
    color: var(--white);
}
